<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        {% if base_url is defined %}
            <base href="http://{{base_url}}/">
        {% endif %}
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
